<?xml version="1.0"?>
<launch>

  <!-- pick object server required components, moveit must be launched separately -->

  <!-- object selector -->
  <include file="$(find mcr_perception_selectors)/ros/launch/object_selector.launch" />

  <!-- pregrasp planner -->
  <include file="$(find mir_pick_object)/ros/launch/pregrasp_planner.launch">
      <arg name="pregrasp_pose_in" value="/mcr_perception/object_selector/output/object_pose" />
  </include>

  <!-- dynamic reconfigure from code, used to configure pregrasp parameters during runtime -->
  <include file="$(find mcr_dynamic_reconfigure_client)/ros/launch/dynamic_reconfigure_client.launch">
    <arg name="config_file" value="$(find mir_yb_actions)/ros/config/yb_manipulation_params.yaml" />
  </include>

  <!-- pick object state machine, wrapped around action lib -->
  <node pkg="mir_pick_object" type="pick_object_server.py" name="pick_object_server" output="screen" />

</launch>
