<?xml version="1.0"?>
<launch>
    <arg name="manager" default="pregrasp_planner_manager" />
    <arg name="use_mokeup_pose" default="true" />
    <arg name="pose_in" default="/mcr_perception/object_selector/output/object_pose" />
    <arg name="static_transform_frame" default="base_link_static" />

    <node pkg="mcr_common_converters" type="static_transform_publisher_node"
          name="static_transform_publisher_node" output="screen">

        <!-- reference frame for the static transform -->
        <param name="reference_frame" type="str" value="/map"/>

        <!-- target frame for the static transform -->
        <param name="target_frame" type="str" value="base_link"/>

        <!-- name of the static transform frame -->
        <param name="static_transform_frame" type="str" value="$(arg static_transform_frame)"/>

        <!-- behavior selection of the component -->
        <param name="trigger_mode" type="bool" value="false"/>

        <!-- cycle rate of the loop (in Hz)-->
        <param name="loop_rate" type="double" value="50.0"/>
    </node>

    <!-- whole body motion calculator pipeline-->
    <include file="$(find mir_pick_object)/ros/launch/whole_body_motion_calculator.launch">
        <arg name="whole_body_motion_pose_in" value="$(arg pose_in)" />
        <arg name="whole_body_motion_pose_out" value="/whole_body_motion_calculator_pipeline/pose_out" />
        <arg name="whole_body_motion_base_motion"
                                value="/whole_body_motion_calculator_pipeline/base_motion" />
    </include>

    <group ns="mir_manipulation">
        <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="mux_pregrasp_pose"
            args="load mcr_topic_tools/TopicMux  standalone_nodelet mux:=mux_pregrasp_pose /mir_pregrasp_planner_pipeline/pose_in $(arg pose_in) /whole_body_motion_calculator_pipeline/pose_out"  output="screen">
          <param name="lazy" type="bool" value="true" />
        </node>
    </group>

    <node pkg="mir_whole_body_motion_calculator" type="base_motion_calculator_node"
        name="base_motion_calculator" output="screen">

        <!-- the cycle rate of the node (in hz) -->
        <param name="loop_rate"  type="double" value="10"/>

        <!-- Pose in (geometry_msgs/PoseStamped) -->
        <remap from="~target_pose" 
            to="/whole_body_motion_calculator_pipeline/pose_transformer/transformed_pose" />

        <!-- Pose in (geometry_msgs/PoseStamped) -->
        <remap from="~reference_pose" to="/mir_pregrasp_planner_pipeline/pose_out" />
        <!--remap from="~reference_pose" 
            to="/wbc_base_motion_calculator_pipeline/pose_transformer/transformed_pose" /-->

        <!--remap from="~event_in" to="/mcr_navigation/direct_base_controller/coordinator/event_in" /-->

        <!-- Pose in (geometry_msgs/PoseStamped) -->
        <remap from="~reference_pose_transformation" to="/whole_body_motion_calculator_pipeline/base_motion" />
    </node>


    <node pkg="mcr_manipulation_measurers" type="pose_transformer_node"
      name="pose_transformer" output="screen" ns="wbc_base_motion_calculator_pipeline">

        <!-- the cycle rate of the node (in Hz) -->
        <param name="loop_rate" type="double" value="10"/>

        <param name="wait_for_transform" type="double" value="0.1"/>

        <!-- Reference frame to transform target pose -->
        <param name="target_frame" type="str" value="base_link_static"/>

        <!-- Flag to use node in trigger mode -->
        <param name="trigger" type="boolean" value="false"/>

        <!-- Pose in (geometry_msgs/PoseStamped) -->
        <remap from="~pose_in" to="/base_motion_calculator/pose_out_2" />

        <remap from="~event_in" to="/base_motion_calculator/event_in" />
    </node>

    <!-- pregrasp planner pipeline-->
    <include file="$(find mir_pick_object)/ros/launch/pregrasp_planner.launch">
        <arg name="pregrasp_pose_in" value="/mir_pregrasp_planner_pipeline/pose_in" />
        <arg name="pregrasp_pose_out" value="/mir_pregrasp_planner_pipeline/pose_out" />
    </include>

    <!-- base collision checker pipeline -->
    <include file="$(find mir_pick_object)/ros/launch/base_collision_checker.launch">
        <arg name="target_pose" 
                value="/wbc_base_motion_calculator_pipeline/pose_transformer/transformed_pose" />
        <arg name="input_map" default="/map" />
    </include>

    <!-- direct base controller pipeline -->
    <include file="$(find mir_pick_object)/ros/launch/direct_base_controller.launch">
        <arg name="direct_base_controller_pose_in_1" value="/base_motion_calculator/pose_out_1" /> 
        <arg name="direct_base_controller_pose_in_2" value="/wbc_base_motion_calculator_pipeline/pose_transformer/transformed_pose" />
    </include>

    <group if="$(arg use_mokeup_pose)">
       <node pkg="mir_pregrasp_planning" type="pose_mock_up_gui_node"
          name="pose_mock_up_gui" output="screen" ns="mir_manipulation">

            <!-- the cycle rate of the node (in hz) -->
    	    <param name="loop_rate" type="double" value="10.0"/>

    	    <!-- Reference frame of the published pose -->
    	    <param name="reference_frame" type="str" value="base_link_static"/>

    	    <remap from="~mock_up_pose" to="$(arg pose_in)"/>
       </node>
    </group>
</launch>
