<?xml version="1.0"?>
<launch>

    <arg name="perception_cost_dataset" default="magdeburg-2016" />
    <arg name="domain" default="btt_without_shift" />

    <!-- Generates perception pddl costs for task planning -->
    <node pkg="mcr_cost_generators" type="perception_cost_generator_node" name="perception_cost_generator" output="screen" ns="mcr_task_planning" >
        <param name="minimum_cost" value="2.0" /> <!-- the floor for the perception cost, minimum possible cost value -->
        <param name="maximum_cost" value="20.0" /> <!-- the ceil for the perception cost, maximum possible cost value  -->
        <param name="decrease_rate" value="20.0" /> <!-- the rate at which the object recognition rate should be decreased if failed to perceive -->
        <param name="cost_file_path" value="$(find mir_knowledge)/common/pddl/$(arg domain)/costs/perception_costs.pddl" />
        <rosparam file="$(find mir_knowledge)/ros/config/$(arg perception_cost_dataset).yaml" command="load" />
    </node>

</launch>
